* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.title {
	display: flex;
}
body {
	font-family: sans-serif;
	background: linear-gradient(
		90deg,
		rgba(22, 0, 16, 0.319) 0%,
		rgb(0, 40, 71) 50%,
		rgb(212, 159, 0) 100%
	);
}

.navbar {
	margin-top: 20px;
	display: flex;
	justify-content: end;
	margin-right: 70px;
	align-items: center;
	color: rgba(255, 255, 255, 0.65);
	padding: 10px;
}

.nav-links {
	list-style: none;
	padding: 10px;
	margin: 0;
	display: flex;
}

.nav-links li {
	margin-right: 60px;
}
.nav-links li a {
	color: rgba(255, 255, 255, 0.65);
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
}
.nav-links li a:hover {
	color: #ed9600ce;

	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
}

.logo a {
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
	font-weight: bold;
}
